services:
  backend:
    container_name: backend_fastapi_sample
    build: ./backend/fastapi_sample
    command: uvicorn main:app --host 0.0.0.0 --reload
    ports:
      - "80:8000"
    working_dir: /app
    volumes:
      - ./backend/fastapi_sample/app:/app
    environment:
      - DATABASE_URL=mysql+pymysql://root:password@db:3306/sampledb
    depends_on:
      db:
        condition: service_healthy

  db:
    image: mysql:8.0
    container_name: mysql_db
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: password
      MYSQL_DATABASE: sampledb
      MYSQL_USER: user
      MYSQL_PASSWORD: password
      TZ: Asia/Tokyo
    ports:
      - "3306:3306"
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost"]
      interval: 5s
      timeout: 5s
      retries: 10
    volumes:
      - db_data:/var/lib/mysql

volumes:
  db_data:
